
/ext-deps
/modelconverter/Debug
/raytracer/Debug
/smak/Debug
/smak/ipch
/modelconverter/Release
/raytracer/Release
/smak/Release
/digitanks/src/Debug
/digitanks/src/Debug (No Collada)
/digitanks/src/Release
/digitanks/src/Release (No Collada)
/digitanks/src/ipch
/modelconverter/Debug (No Collada)
/modelconverter/Release (No Collada)
/smak/Release Unlocked
/modelconverter/Release Unlocked
/digitanks/src/enc_temp_folder
/digitanks/src/Release (Demo)
/digitanks/src/Release (Competition)
/modelconverter/Release (Demo)
/digitanks/src/dtintro/Debug
/digitanks/src/dtintro/Release
